@model HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FTP.JET</h1>
    <p class="lead">Book your trip today!</p>
</div>

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-md-4">
            <h2>Origin</h2>
            @Html.DropDownListFor(m => m.Origin, new SelectList(Model.Locations, "Value", "Key"))<br />

        </div>
        <div class="col-md-4">
            <h2>Destination</h2>
            @Html.DropDownListFor(m => m.Destination, new SelectList(Model.Locations, "Value", "Key"))<br />

        </div>
        <div class="col-md-4">
            <input type="button" value="Search" id="Search" />
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: flights">
                    <tr>
                        <td data-bind="text: code"></td>
                        <td data-bind="text: departure"></td>
                        <td data-bind="text: arrival"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts
{
<script src="~/bower_components/moment/min/moment.min.js"></script>
<script src="~/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<script src="~/bower_components/knockout/dist/knockout.js"></script>
    @Scripts.Render("~/scripts/main.js")
}

