@model HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FTP.JET</h1>
    <p class="lead">Book your trip today!</p>
</div>

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-md-12">
            <input type="datetime-local" id="StartDate"  />
            <input type="button" value="Update" id="Search" />
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: flights">
                    <tr>
                        <td data-bind="text: code"></td>
                        <td data-bind="text: source"></td>
                        <td data-bind="text: destination"></td>
                        <td data-bind="text: departure, attr: { title: departureInfo}"></td>
                        <td data-bind="text: arrival, attr: { title: arrivalInfo}"></td>
                        <td data-bind="text: duration"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts
{
<script src="~/bower_components/moment/min/moment.min.js"></script>
<script src="~/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<script src="~/bower_components/knockout/dist/knockout.js"></script>
    @Scripts.Render("~/scripts/main.js")
}

